/* global styles  */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html {
  font-family: sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
main {
  display: flex;
  gap: 3ch;
  height: 100vh;
}
